
        .subscribe-button{
            background-color: rgb(200, 0, 0);
            color: white;
            border: none;
            margin-left: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 16px;
            padding-right: 16px;
            border-radius: 3px;
            cursor: pointer;
            margin-right: 8px;
            transition: opacity 0.15s;
            vertical-align: top;
        }
        .join-button{
            background-color: white;
            border-color: rgb(23, 71, 133);
            border-style: solid;
            border-width: 1px;
            color:  rgb(23, 71, 133);
            border-radius: 2px;
            cursor: pointer;
            padding-top: 9px;
            padding-bottom: 9px;
            padding-left: 16px;
            padding-right: 16px;
            border-radius: 3px;
            transition: background-color 0.15s,
            color 0.15s;
            
            
        }
        .tweet-button{
            background-color: rgb(2, 158, 255);
            color: white;
            border: none;
            height: 36px;
            width: 72px;
            border-radius: 18px;
            font-weight: bold;
            font-size: 15px;
            cursor: pointer;
            margin-left: 8px;
            transition: box-shadow 0.15s;
            vertical-align: top;
        }
        .subscribe-button:hover{
         opacity: 0.8;

        }
        .subscribe-button:active{
            opacity: 0.4;
        }
        .join-button:hover{
            background-color: rgb(23, 71, 133);
            color:white;
        }
        .join-button:active{
            opacity: 0.7;    
        }
        .tweet-button:hover{
            box-shadow: 5px 5px 10px rgba(0, 0, 0 ,0,15);   
        }
    
